/* You can add global styles to this file, and also import other style files */

/* Importar estilos de botones */
@import './styles/buttons.scss';

/* Importar estilos de tipografía */
@import './styles/typography.scss';

/* Reset básico para eliminar márgenes/paddings por defecto */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevenir scroll horizontal */
}

body {
  font-family: var(--font-family); /* Asegurar fuente por defecto de PrimeNG si se usa */
}
